        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        
        #container {
            border: seagreen solid 2px;
            width: 90%;
            margin: auto;
        }
        
        #logo {
            border: springgreen dashed 1px;
            width: 100%;
            height: 50px;
            background-color: green;
        }
        
        #anamenu {
            border: green dotted 1px;
            width: 100%;
            height: 50px;
            background-color: chartreuse;
        }
        
        #icerik {
            border: yellowgreen dashed 1px;
            width: 70%;
            min-height: 500px;
            background-color: darkolivegreen;
            float: left;
        }
        
        #yanmenu {
            border: forestgreen solid 1px;
            width: 30%;
            min-height: 500px;
            background-color: darkseagreen;
            float: left;
        }
        
        #altmenu {
            border: lightgreen dashed 1px;
            width: 100%;
            height: 50px;
            background-color: greenyellow;
            float: left;
        }